
body {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #a0a9ad;
    padding: 10px;
}

.ui {
    background-color: rgb(155, 17, 17);
    padding: 0px 100px;;
    border-radius: 75px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.603);

}

#title, .controls {
    font-size: 36px;
    text-align: center;
    color: rgb(187, 160, 9);
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px black;
}


.grid-container {
    width: 700px;
    height: 700px;
    display:flex;
    flex-direction: column;
    border: solid 4px black;
}

.controls {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
   
}

.es-copy {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #eee;
    border: solid 2px grey;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.445);
}

.row {
    display:flex;
    flex-wrap: wrap;
    min-width: auto;
    min-height: auto;
    flex: auto;
    border-radius: 20px;

}

.cell {
    flex: 1 ;
    background-color:rgb(168, 163, 163);
    height:auto;
    width:auto;
}